.sizeid
{
  width: 800px;
  height: auto;
  display: flex;
  margin: 50px auto;
  background-color: white;
  box-shadow: 10px 10px 5px grey;
}
.imground
{
    border-radius: 50%;
}
.desc
{
    margin-left: 50px;
    padding: 10px;
    width :100%;
    background-color: rgb(0, 183, 255);
    color: white;
    position: relative;
}

p{
  font-family: Montserrat, sans-serif;
}
th,td{
  font-family: Montserrat, sans-serif;
}
li{
  font-family: Montserrat, sans-serif;
}
.side
{
  font-family: Montserrat, sans-serif;
  font-size: 15px;
}