.sizeid
{
  width: 800px;
  height: auto;
  display: flex;
  margin: 50px auto;
  background-color: white;
  box-shadow: 10px 10px 5px grey;
  position: relative;
}
body{
    background: rgba(69, 226, 205, 0.705);
}